[package]
name = "serum-pool-admin-controlled"
version = "0.1.0"
description = "Simple serum pool"
edition = "2018"

[features]
no-entrypoint = []
program = []
default = []

[dependencies]
solana-program = "1.4.14"
serum-pool = { version = "0.1.0", path = "../.." }
spl-token = { version = "3.0.0", features = ["no-entrypoint"] }
borsh = { git = "https://github.com/project-serum/borsh", branch = "serum" }

[lib]
name = "serum_pool_examples_admin_controlled"
crate-type = ["cdylib", "lib"]
